

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/photo_accueil.jpg);
    background-size: cover;
}
.btn-banner {
    font-size: 2.5rem;
}
.h1-banner{
    font-size: 5rem;
}