{% extends 'base.html.twig' %}

{% block title %}{{ titre_page }}{% endblock %}

{% block body %}
    {{ parent() }}
<div class="example-wrapper">

    <div class="banner" id="banner">
        <div class="content text-center ">
            <h1 class="text-danger text-center h1-banner">{{ titre_section }}</h1>
            <a href="{{ path('app_login') }}" class="btn btn-danger btn-banner mt-3 text-center">Prendre RDV</a>
        </div>
    </div>

</div>
{% endblock %}
