{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
{{ parent() }}
    <div class="container">
        <h1>Inscription</h1>
        <div>
            {{ form(form) }}
        </div>


    </div>

{% endblock %}