{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
{{ parent() }}
    <div class="container">
        <h1>Demande de Prise de Rendez Vous</h1>

        {{ form(form) }}
    </div>

{% endblock %}